# Python
__pycache__/
*.py[cod]
venv/

# Local Data (Don't sync your actual DB or heavy vectors)
smartdoc.db
data/vectorstores/
data/temp/
todo.txt
/documents/
cspell.json
.github/
preference-ui/
backup/
change-log.txt

# IDEs
.vscode/
.idea/
