# Python
__pycache__/
*.py[cod]
venv/

# Local Data (Don't sync your actual DB or heavy vectors)
smartdoc.db
data/vectorstores/
data/temp/
todo.txt
/documents/
cspell.json
.github/
preference-ui/
backup/
change-log.txt

# IDEs
.vscode/
.idea/

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb
